#root {
  height: 100%;
}

div {
  overflow: auto;
}

.upload-container {
  height: 100%;
  display: flex;
}

.upload-card {
  margin: auto;
}

.form-buttons {
  margin: 0;
}

.ant-layout {
  height: 100%
}