#root {
  height: 100%;
  overflow: auto;
}

.upload-container {
  height: 100%;
  display: flex;
}

.upload-card {
  margin: auto;
}

.upload-form-button {
  float: right;
  margin: 0;
}

.form-buttons {
  margin: 0;
}